<div class="main-sheet">

<div class="header-container">
<%= image_tag "logo-dark.svg" %>
<h2>Samfunnet i Ås - Graskurs del 2</h2>
</div>

<div class="container-full short">
  <div class="graph-container">
  <h3>Besøk vs transaksjoner - August</h3>
  <canvas id="lineChart1" height="75"></canvas>
  <div id="legend-1-container"></div>
  </div>
</div>


<div class="container-half">
  <div class="graph-container">
  <h3>Trafikkilder siste 7 dager</h3>
  <canvas id="donutChart1"></canvas>

  </div>
</div>

<div class="container-half">
  <div class="graph-container">
    <div id="legend-2-container" class="vertical"></div>
  </div>
</div>



</div>


<script>

  plotLineChart(
    "https://hoopla-customer-statistics.appspot.com/query?id=ahxlfmhvb3BsYS1jdXN0b21lci1zdGF0aXN0aWNzchULEghBcGlRdWVyeRiAgICAgPKICgw",
    "lineChart1"
    );
  plotDonutChart(
    "https://hoopla-customer-statistics.appspot.com/query?id=ahxlfmhvb3BsYS1jdXN0b21lci1zdGF0aXN0aWNzchULEghBcGlRdWVyeRiAgICA7a2SCgw",
    "donutChart1"
    );

</script>
