
<div class="container">
<h2>Uka i Ås - TEMAFEST - Yoguttene, $ushi x Kobe og Oral Bee</h2>
</div>

<div class="container-half">
  <div class="graph-container">
  <h3>Unike besøk siste 7 dager</h3>
  <canvas id="myChart"></canvas>

  </div>
</div>


<div class="container-half">
  <div class="graph-container">
  <h3>Trafikkilder siste 7 dager</h3>
  <canvas id="myChart2"></canvas>

  </div>
</div>




<script>

$(function() {

  console.log(SuperVariable);

});

</script>
