

<div class="main-sheet">

<div class="header-container">
<%= image_tag "logo-dark.svg" %>
<h2>Samfunnet i Ås - Graskurs del 2</h2>
</div>

<div class="container-full short">
  <div class="graph-container">
  <h3>Besøk vs transaksjoner - August</h3>
  <canvas id="myChart" height="75"></canvas>

  </div>
</div>


<div class="container-half">
  <div class="graph-container">
  <h3>Trafikkilder siste 7 dager</h3>
  <canvas id="myChart2"></canvas>

  </div>
</div>



</div>


<script>


</script>
